# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# IDEs
.vscode/
.idea/
*.swp
*.swo
